((*- extends 'style_jupyter.tex.j2' -*))

((* block packages *))
\usepackage[a4paper]{geometry}
\usepackage[brazil]{babel}
\usepackage[mathletters]{ucs} % Extended unicode (utf-8) support
\usepackage[utf8x]{inputenc} % Allow utf-8 characters in the tex document
% Extends the file name of package graphics to support a larger range and utf8
\usepackage[encoding,filenameencoding=utf8x]{grffile}
% To allow for greek letters in code
\usepackage{fontspec}
\setmonofont[Scale=MatchLowercase]{JetBrains Mono}
((( super() )))
((* endblock packages *))

((* block title *))
\title{((( nb.metadata["latex_metadata"]["title"] )))}
((* endblock title *))

((* block author *))
\author{Paulo J. S. Silva}
((* endblock author *))

((* block definitions *))
((( super() )))
\DeclareMathOperator{\fl}{fl}
\DeclareMathOperator{\erf}{erf}
((* endblock definitions *))
